/* 1.header */

/* 2.container */
/* 2-1.container-left */
    /* 2-1-1.cl-top */
    /* 2-1-2.cl-end */

/* 2-2.container-right */
    /* 2-2-1.cr-top */
    /* 2-2-2.cr-end */

/* 3.footer */

/* 1.header */
.header{
    width: 1024px;
    height: 65px;
    background-color: red;
    margin: auto;
}

/* 2.container */
/* flex */
.container{
    width: 1024px;
    height: calc(768px - 65px - 20px);
    background-color: yellow;
    margin: auto;
    display: flex;
}
/* 2-1.container-left */
.container-left{
    width: 215px;
    height: 100%;
    background-color: lightyellow;
}

/* 2-1-1.cl-top */
.cl-top{
    width: 100%;
    height: calc(100% - 25px);
    background-color: lightblue;

}
/* 2-1-2.cl-end */
.cl-end{
    width: 100%;
    height: 25px;
    background-color: darkblue;
}

/* 2-2.container-right */
.container-right{
    width: calc(100% - 215px);
    height: 100%;
    background-color: orange
}

/* 2-2-1.cr-top */
.cr-top{
    width: 100%;
    height: 30px;
    background-color: lightgreen;
}
/* 2-2-2.cr-end */
.cr-end{
    width: 100%;
    height: calc(100% - 30px);
    background-color: darkgreen;
}

/* 3.footer */
.footer{
    width: 1024px;
    height: 20px;
    background-color: grey;
    margin: auto;
}