        /* 共切9個版面 */

        /* 1.header 紅*/
        /* 2.container 黃 */

        /* 2-1 container-left 淺黃*/
        /* 2-1-2 cl-top */
        /* 2-1-2 cl-end */

        /* 2-2 container-right 深橘*/
        /* 2-2-1 cr-top */
        /* 2-2-1 cr-end */

        /* 3.footer 藍*/

        /* 1.header */
        /* 三大區塊顏色：紅黃藍 */
        .header {
            width: 1024px;
            height: 65px;
            background-color: red;
            margin: auto;
        }

        /* 2.container */
        /* 容易忘記先貼標題 */
        /* calc 減號前後要留 空白 */
        /* 寬度要重新設定1024px，不可用100% */
        .container {
            width: 1024px;
            height: calc(768px - 65px - 20px);
            background-color: yellow;
            margin: auto;

            display: flex;
        }

        /* 2-1 container-left */
        .container-left {
            width: 215px;
            height: 100%;
            background-color: lightyellow;
        }

        /* 2-1-2 cl-top */
        .cl-top {
            width: 100%;
            height: calc(100% - 25px);
            background-color: lightpink;
        }

        /* 2-1-2 cl-end */
        .cl-end {
            width: 100%;
            height: 25px;
            background-color: lightcoral;
        }

        /* 2-2 container-right */
        .container-right {
            width: calc(1024px - 215px);
            height: 100%;
            background-color: grey;
        }

        /* 2-2-1 cr-top */
        .cr-top {
            width: 100%;
            height: 29px;
            background-color: lightgreen;

        }

        /* 2-2-1 cr-end */
        .cr-end {
            width: 100%;
            height: calc(100% - 29px);
            background-color: lightseagreen;
        }

        /* 3.footer */
        .footer {
            width: 1024px;
            height: 20px;
            background-color: blue;
            margin: auto;
        }