h2 {
    color: blue
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: lightseagreen;
    margin: 0%;
}

p {
    padding-left: 30px
}

nav {
    background-color: black;
    text-align: center;
    /* font-size: 0px; */
}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    font-size: 16px;
}

nav a:hover {
    background-color: orange;
}