    /* header
    container
    container-left
    cl-top
    cl-end
    container-right
    cr-top
    cr-end

    footer */

    /* 共同設定 */
    * {
        box-sizing: border-box;
        margin: auto;
        font-family: '標楷體';

    }

    /* header */
    header {
        width: 1024px;
        height: 65px;
        /* background-color: red; */
        border: 1px solid #000;
    }

    /* header-linkImg */
    .header-linkImg {
        text-align: center;
    }

    /* a>img */
    a>img {
        width: 90%;
    }

    /* container */
    .container {
        width: 1024px;
        height: calc(768px - 65px - 20px);
        /* background-color: yellow; */

        display: flex;
    }

    /* container-left */
    .container-left {
        width: 215px;
        height: 100%;
        /* background-color: lightyellow; */
    }

    /* cl-top */
    .cl-top {
        width: 100%;
        height: calc(100% - 25px);
        /* background-color: lightblue; */
        border: 1px solid #000;
        border-top: 0;
    }

    /* 選單區 分兩區 cl-title cl-content-flexDire */
    /* cl-title */
    .cl-title {
        font-weight: 500;
        font-size: 24px;
        text-decoration: underline;
        text-align: center;
        color: #F0F;
        padding: 10px;
    }

    /* cl-content-flexDire */
    .cl-content-flexDire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }


    /* cl-content-flexDire>div,item-link */
    .cl-content-flexDire>div {
        width: 200px;
        height: 35px;
        background-image: url(../images/menu1.png);
        text-align: center;
        padding: 5px;

    }

    .item-link {
        display: inline-block;
        width: 100%;
        height: 100%;

    }

    .cl-content-flexDire>div:hover {
        background-image: url(../images/menu2.png);
    }


    /* cl-end */
    .cl-end {
        width: 100%;
        height: 25px;
        /* background-color: darkblue; */
        border: 1px solid #000;
        border-top: 0;

        color: #000;
        font-size: 16px;
        text-align: center;
        padding: 2px;
    }

    /* container-right */
    .container-right {
        width: calc(100% - 215px);
        height: 100%;
        /* background-color: orange; */
    }

    /* cr-top */
    .cr-top {
        width: 100%;
        height: 30px;
        /* background-color: lightgreen; */
        border: 1px solid #000;
        border-top: 0;
        border-left: 0;
    }

    /* marquee */
    marquee {
        width: 770px;
        height: 30px;
        font-size: 24px;
        color: #00F;
    }

    /* cr-end */
    .cr-end {
        width: 100%;
        height: calc(100% - 30px);
        /* background-color: darkgreen; */
        border: 1px solid #000;
        border-top: 0;
        border-left: 0;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    /* footer */
    footer {
        width: 1024px;
        height: 20px;
        /* background-color: green; */
        border: 1px solid #000;
        border-top: 0;
        font-size: 16px;
        text-align: center;
    }